<!DOCTYPE html>
<html>
<head>
  <title>RockPaperScissors</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- Connect to Bootstrap CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <!-- Connect to Bootstrap Javascript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>
<div class="container">
  <hr>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
        <div class="btn-group btn-group-justified">
          <a href="/rock" class="btn btn-block btn-primary"> Play Rock </a>

          <a href="/paper" class="btn btn-block btn-info"> Play Paper </a>

          <a href="/scissors" class="btn btn-block btn-primary"> Play Scissors </a>
        </div>
      </div>
    </div>
</div>
<hr>

<%= yield %>

</body>
</html>
